In [0]:
from pandas_datareader import DataReader
from pandas import datetime
import pandas as pd
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns
#import talib

In [2]:
from google.colab import files
uploaded = files.upload()

Saving AMD.csv to AMD (2).csv
Saving LNG.csv to LNG (2).csv

In [0]:
amd_df=pd.read_csv('LNG.csv',parse_dates=['Date'])
lng_df=pd.read_csv('AMD.csv',parse_dates=['Date'])

In [0]:
amd=pd.DataFrame(amd_df)

In [0]:
#amd_df.astype(dict)

In [6]:
amd

           Date  Adj_Close  Adj_Volume
0    1994-04-04      72.00         0.0
1    1994-04-05     108.00         0.0
2    1994-04-06     108.00         0.0
3    1994-04-07     108.00         0.0
4    1994-04-08     108.00         0.0
...         ...        ...         ...
6047 2018-04-10      55.63   3430268.0
6048 2018-04-11      56.25   2875489.0
6049 2018-04-12      56.20   1539915.0
6050 2018-04-13      55.95   1358221.0
6051 2018-04-16      56.90   1949422.0

[6052 rows x 3 columns]

In [0]:
 amd['Datetime'] = pd.to_datetime(amd['Date'])
 amd= amd.set_index(['Datetime'])


# amd_df.resample('1M').last().pct_change()

In [0]:
 o=amd.resample('BMS').last()
#r_d = amd.pct_change()

In [9]:
o

                 Date  Adj_Close  Adj_Volume
Datetime
1994-04-01 1994-04-29      54.00         0.0
1994-05-02 1994-05-31      63.00         0.0
1994-06-01 1994-06-30      36.00         0.0
1994-07-01 1994-07-29      36.00         0.0
1994-08-01 1994-08-31      30.00         0.0
...               ...        ...         ...
2017-12-01 2017-12-29      53.84   2793949.0
2018-01-01 2018-01-31      56.56   1737392.0
2018-02-01 2018-02-28      52.52   2533278.0
2018-03-01 2018-03-29      53.45   2756953.0
2018-04-02 2018-04-16      56.90   1949422.0

[289 rows x 3 columns]

In [10]:
#r_d=amd_df.pct_change()
o_copy=o
o_copy

                 Date  Adj_Close  Adj_Volume
Datetime
1994-04-01 1994-04-29      54.00         0.0
1994-05-02 1994-05-31      63.00         0.0
1994-06-01 1994-06-30      36.00         0.0
1994-07-01 1994-07-29      36.00         0.0
1994-08-01 1994-08-31      30.00         0.0
...               ...        ...         ...
2017-12-01 2017-12-29      53.84   2793949.0
2018-01-01 2018-01-31      56.56   1737392.0
2018-02-01 2018-02-28      52.52   2533278.0
2018-03-01 2018-03-29      53.45   2756953.0
2018-04-02 2018-04-16      56.90   1949422.0

[289 rows x 3 columns]

                 Date  Adj_Close  Adj_Volume
Datetime
1994-04-01 1994-04-29      54.00         0.0
1994-05-02 1994-05-31      63.00         0.0
1994-06-01 1994-06-30      36.00         0.0
1994-07-01 1994-07-29      36.00         0.0
1994-08-01 1994-08-31      30.00         0.0
...               ...        ...         ...
2017-12-01 2017-12-29      53.84   2793949.0
2018-01-01 2018-01-31      56.56   1737392.0
2018-02-01 2018-02-28      52.52   2533278.0
2018-03-01 2018-03-29      53.45   2756953.0
2018-04-02 2018-04-16      56.90   1949422.0

[289 rows x 3 columns]

In [0]:
rng = pd.date_range('1/1/1980','01/01/2018', freq='D')
o1 = pd.DataFrame(amd_df,index=rng)

In [13]:
o1

           Date  Adj_Close  Adj_Volume Datetime
1980-01-01  NaT        NaN         NaN      NaT
1980-01-02  NaT        NaN         NaN      NaT
1980-01-03  NaT        NaN         NaN      NaT
1980-01-04  NaT        NaN         NaN      NaT
1980-01-05  NaT        NaN         NaN      NaT
...         ...        ...         ...      ...
2017-12-28  NaT        NaN         NaN      NaT
2017-12-29  NaT        NaN         NaN      NaT
2017-12-30  NaT        NaN         NaN      NaT
2017-12-31  NaT        NaN         NaN      NaT
2018-01-01  NaT        NaN         NaN      NaT

[13881 rows x 4 columns]

In [0]:
#ret_d=o1.pct_change().dropna()
o2_copy=o1

In [0]:
#del o1_copy['Date']

In [16]:
o2_copy.head(n=20)

           Date  Adj_Close  Adj_Volume Datetime
1980-01-01  NaT        NaN         NaN      NaT
1980-01-02  NaT        NaN         NaN      NaT
1980-01-03  NaT        NaN         NaN      NaT
1980-01-04  NaT        NaN         NaN      NaT
1980-01-05  NaT        NaN         NaN      NaT
1980-01-06  NaT        NaN         NaN      NaT
1980-01-07  NaT        NaN         NaN      NaT
1980-01-08  NaT        NaN         NaN      NaT
1980-01-09  NaT        NaN         NaN      NaT
1980-01-10  NaT        NaN         NaN      NaT
1980-01-11  NaT        NaN         NaN      NaT
1980-01-12  NaT        NaN         NaN      NaT
1980-01-13  NaT        NaN         NaN      NaT
1980-01-14  NaT        NaN         NaN      NaT
1980-01-15  NaT        NaN         NaN      NaT
1980-01-16  NaT        NaN         NaN      NaT
1980-01-17  NaT        NaN         NaN      NaT
1980-01-18  NaT        NaN         NaN      NaT
1980-01-19  NaT        NaN         NaN      NaT
1980-01-20  NaT        NaN         NaN      NaT

In [0]:
o3_copy=o2_copy

In [0]:
#returns_daily

In [0]:
returns_daily=o2_copy.pct_change()

Empty DataFrame
Columns: []
Index: [1980-01-01 00:00:00, 1980-01-02 00:00:00, 1980-01-03 00:00:00, 1980-01-04 00:00:00, 1980-01-05 00:00:00, 1980-01-06 00:00:00, 1980-01-07 00:00:00, 1980-01-08 00:00:00, 1980-01-09 00:00:00, 1980-01-10 00:00:00, 1980-01-11 00:00:00, 1980-01-12 00:00:00, 1980-01-13 00:00:00, 1980-01-14 00:00:00, 1980-01-15 00:00:00, 1980-01-16 00:00:00, 1980-01-17 00:00:00, 1980-01-18 00:00:00, 1980-01-19 00:00:00, 1980-01-20 00:00:00, 1980-01-21 00:00:00, 1980-01-22 00:00:00, 1980-01-23 00:00:00, 1980-01-24 00:00:00, 1980-01-25 00:00:00, 1980-01-26 00:00:00, 1980-01-27 00:00:00, 1980-01-28 00:00:00, 1980-01-29 00:00:00, 1980-01-30 00:00:00, 1980-01-31 00:00:00, 1980-02-01 00:00:00, 1980-02-02 00:00:00, 1980-02-03 00:00:00, 1980-02-04 00:00:00, 1980-02-05 00:00:00, 1980-02-06 00:00:00, 1980-02-07 00:00:00, 1980-02-08 00:00:00, 1980-02-09 00:00:00, 1980-02-10 00:00:00, 1980-02-11 00:00:00, 1980-02-12 00:00:00, 1980-02-13 00:00:00, 1980-02-14 00:00:00, 1980-02-15 00:00:00, 1980-02-16 00:00:00, 1980-02-17 00:00:00, 1980-02-18 00:00:00, 1980-02-19 00:00:00, 1980-02-20 00:00:00, 1980-02-21 00:00:00, 1980-02-22 00:00:00, 1980-02-23 00:00:00, 1980-02-24 00:00:00, 1980-02-25 00:00:00, 1980-02-26 00:00:00, 1980-02-27 00:00:00, 1980-02-28 00:00:00, 1980-02-29 00:00:00, 1980-03-01 00:00:00, 1980-03-02 00:00:00, 1980-03-03 00:00:00, 1980-03-04 00:00:00, 1980-03-05 00:00:00, 1980-03-06 00:00:00, 1980-03-07 00:00:00, 1980-03-08 00:00:00, 1980-03-09 00:00:00, 1980-03-10 00:00:00, 1980-03-11 00:00:00, 1980-03-12 00:00:00, 1980-03-13 00:00:00, 1980-03-14 00:00:00, 1980-03-15 00:00:00, 1980-03-16 00:00:00, 1980-03-17 00:00:00, 1980-03-18 00:00:00, 1980-03-19 00:00:00, 1980-03-20 00:00:00, 1980-03-21 00:00:00, 1980-03-22 00:00:00, 1980-03-23 00:00:00, 1980-03-24 00:00:00, 1980-03-25 00:00:00, 1980-03-26 00:00:00, 1980-03-27 00:00:00, 1980-03-28 00:00:00, 1980-03-29 00:00:00, 1980-03-30 00:00:00, 1980-03-31 00:00:00, 1980-04-01 00:00:00, 1980-04-02 00:00:00, 1980-04-03 00:00:00, 1980-04-04 00:00:00, 1980-04-05 00:00:00, 1980-04-06 00:00:00, 1980-04-07 00:00:00, 1980-04-08 00:00:00, 1980-04-09 00:00:00, ...]

[13881 rows x 0 columns]

In [0]:
mon_df= o2_copy.resample('BMS').first()

In [31]:
mon_df

Empty DataFrame
Columns: []
Index: [1980-01-01 00:00:00, 1980-02-01 00:00:00, 1980-03-03 00:00:00, 1980-04-01 00:00:00, 1980-05-01 00:00:00, 1980-06-02 00:00:00, 1980-07-01 00:00:00, 1980-08-01 00:00:00, 1980-09-01 00:00:00, 1980-10-01 00:00:00, 1980-11-03 00:00:00, 1980-12-01 00:00:00, 1981-01-01 00:00:00, 1981-02-02 00:00:00, 1981-03-02 00:00:00, 1981-04-01 00:00:00, 1981-05-01 00:00:00, 1981-06-01 00:00:00, 1981-07-01 00:00:00, 1981-08-03 00:00:00, 1981-09-01 00:00:00, 1981-10-01 00:00:00, 1981-11-02 00:00:00, 1981-12-01 00:00:00, 1982-01-01 00:00:00, 1982-02-01 00:00:00, 1982-03-01 00:00:00, 1982-04-01 00:00:00, 1982-05-03 00:00:00, 1982-06-01 00:00:00, 1982-07-01 00:00:00, 1982-08-02 00:00:00, 1982-09-01 00:00:00, 1982-10-01 00:00:00, 1982-11-01 00:00:00, 1982-12-01 00:00:00, 1983-01-03 00:00:00, 1983-02-01 00:00:00, 1983-03-01 00:00:00, 1983-04-01 00:00:00, 1983-05-02 00:00:00, 1983-06-01 00:00:00, 1983-07-01 00:00:00, 1983-08-01 00:00:00, 1983-09-01 00:00:00, 1983-10-03 00:00:00, 1983-11-01 00:00:00, 1983-12-01 00:00:00, 1984-01-02 00:00:00, 1984-02-01 00:00:00, 1984-03-01 00:00:00, 1984-04-02 00:00:00, 1984-05-01 00:00:00, 1984-06-01 00:00:00, 1984-07-02 00:00:00, 1984-08-01 00:00:00, 1984-09-03 00:00:00, 1984-10-01 00:00:00, 1984-11-01 00:00:00, 1984-12-03 00:00:00, 1985-01-01 00:00:00, 1985-02-01 00:00:00, 1985-03-01 00:00:00, 1985-04-01 00:00:00, 1985-05-01 00:00:00, 1985-06-03 00:00:00, 1985-07-01 00:00:00, 1985-08-01 00:00:00, 1985-09-02 00:00:00, 1985-10-01 00:00:00, 1985-11-01 00:00:00, 1985-12-02 00:00:00, 1986-01-01 00:00:00, 1986-02-03 00:00:00, 1986-03-03 00:00:00, 1986-04-01 00:00:00, 1986-05-01 00:00:00, 1986-06-02 00:00:00, 1986-07-01 00:00:00, 1986-08-01 00:00:00, 1986-09-01 00:00:00, 1986-10-01 00:00:00, 1986-11-03 00:00:00, 1986-12-01 00:00:00, 1987-01-01 00:00:00, 1987-02-02 00:00:00, 1987-03-02 00:00:00, 1987-04-01 00:00:00, 1987-05-01 00:00:00, 1987-06-01 00:00:00, 1987-07-01 00:00:00, 1987-08-03 00:00:00, 1987-09-01 00:00:00, 1987-10-01 00:00:00, 1987-11-02 00:00:00, 1987-12-01 00:00:00, 1988-01-01 00:00:00, 1988-02-01 00:00:00, 1988-03-01 00:00:00, 1988-04-01 00:00:00, ...]

[457 rows x 0 columns]

In [0]:
returns_monthly=mon_df.pct_change().dropna()

Empty DataFrame
Columns: []
Index: [1980-01-01 00:00:00, 1980-02-01 00:00:00, 1980-03-03 00:00:00, 1980-04-01 00:00:00, 1980-05-01 00:00:00, 1980-06-02 00:00:00, 1980-07-01 00:00:00, 1980-08-01 00:00:00, 1980-09-01 00:00:00, 1980-10-01 00:00:00, 1980-11-03 00:00:00, 1980-12-01 00:00:00, 1981-01-01 00:00:00, 1981-02-02 00:00:00, 1981-03-02 00:00:00, 1981-04-01 00:00:00, 1981-05-01 00:00:00, 1981-06-01 00:00:00, 1981-07-01 00:00:00, 1981-08-03 00:00:00, 1981-09-01 00:00:00, 1981-10-01 00:00:00, 1981-11-02 00:00:00, 1981-12-01 00:00:00, 1982-01-01 00:00:00, 1982-02-01 00:00:00, 1982-03-01 00:00:00, 1982-04-01 00:00:00, 1982-05-03 00:00:00, 1982-06-01 00:00:00, 1982-07-01 00:00:00, 1982-08-02 00:00:00, 1982-09-01 00:00:00, 1982-10-01 00:00:00, 1982-11-01 00:00:00, 1982-12-01 00:00:00, 1983-01-03 00:00:00, 1983-02-01 00:00:00, 1983-03-01 00:00:00, 1983-04-01 00:00:00, 1983-05-02 00:00:00, 1983-06-01 00:00:00, 1983-07-01 00:00:00, 1983-08-01 00:00:00, 1983-09-01 00:00:00, 1983-10-03 00:00:00, 1983-11-01 00:00:00, 1983-12-01 00:00:00, 1984-01-02 00:00:00, 1984-02-01 00:00:00, 1984-03-01 00:00:00, 1984-04-02 00:00:00, 1984-05-01 00:00:00, 1984-06-01 00:00:00, 1984-07-02 00:00:00, 1984-08-01 00:00:00, 1984-09-03 00:00:00, 1984-10-01 00:00:00, 1984-11-01 00:00:00, 1984-12-03 00:00:00, 1985-01-01 00:00:00, 1985-02-01 00:00:00, 1985-03-01 00:00:00, 1985-04-01 00:00:00, 1985-05-01 00:00:00, 1985-06-03 00:00:00, 1985-07-01 00:00:00, 1985-08-01 00:00:00, 1985-09-02 00:00:00, 1985-10-01 00:00:00, 1985-11-01 00:00:00, 1985-12-02 00:00:00, 1986-01-01 00:00:00, 1986-02-03 00:00:00, 1986-03-03 00:00:00, 1986-04-01 00:00:00, 1986-05-01 00:00:00, 1986-06-02 00:00:00, 1986-07-01 00:00:00, 1986-08-01 00:00:00, 1986-09-01 00:00:00, 1986-10-01 00:00:00, 1986-11-03 00:00:00, 1986-12-01 00:00:00, 1987-01-01 00:00:00, 1987-02-02 00:00:00, 1987-03-02 00:00:00, 1987-04-01 00:00:00, 1987-05-01 00:00:00, 1987-06-01 00:00:00, 1987-07-01 00:00:00, 1987-08-03 00:00:00, 1987-09-01 00:00:00, 1987-10-01 00:00:00, 1987-11-02 00:00:00, 1987-12-01 00:00:00, 1988-01-01 00:00:00, 1988-02-01 00:00:00, 1988-03-01 00:00:00, 1988-04-01 00:00:00, ...]

[457 rows x 0 columns]

In [34]:
# daily covariance of stocks (for each monthly period)
#i = tuple(o1_copy)
#i=tuple()
covariances = {}

for i in returns_monthly.index:
    rtd_idx = returns_daily.index
    # mask daily returns for each month (and year) and calculate covariance
    mask = (rtd_idx.month == i.month) & (rtd_idx.year == i.year)
    
    covariances[i] = returns_daily[mask].cov()

print(covariances[i])

Empty DataFrame
Columns: []
Index: []

In [35]:
covariances[i]

Empty DataFrame
Columns: []
Index: []

In [38]:
#=pd.concat([o3_copy,o_copy],axis=1)
del o_copy['Date']
o_copy

            Adj_Close  Adj_Volume
Datetime
1994-04-01      54.00         0.0
1994-05-02      63.00         0.0
1994-06-01      36.00         0.0
1994-07-01      36.00         0.0
1994-08-01      30.00         0.0
...               ...         ...
2017-12-01      53.84   2793949.0
2018-01-01      56.56   1737392.0
2018-02-01      52.52   2533278.0
2018-03-01      53.45   2756953.0
2018-04-02      56.90   1949422.0

[289 rows x 2 columns]

In [39]:

o_copy
.pct_change()

            Adj_Close  Adj_Volume
Datetime
1994-04-01        NaN         NaN
1994-05-02   0.166667         NaN
1994-06-01  -0.428571         NaN
1994-07-01   0.000000         NaN
1994-08-01  -0.166667         NaN
...               ...         ...
2017-12-01   0.114238    0.479695
2018-01-01   0.050520   -0.378159
2018-02-01  -0.071429    0.458092
2018-03-01   0.017708    0.088295
2018-04-02   0.064546   -0.292907

[289 rows x 2 columns]